<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Disable directory listing and content negotiation
  Options -MultiViews -Indexes
  
  # Prevent Apache from automatically adding a trailing slash to directories
  DirectorySlash Off

  # Enforce non-trailing slash URLs for SEO (301 Redirect)
  RewriteRule ^(.*)/$ /$1 [L,R=301]

  RewriteRule ^index\.html$ - [L]
  
  # If the requested path is not a physical file
  RewriteCond %{REQUEST_FILENAME} !-f
  # Send it to React Router (index.html)
  RewriteRule ^ /index.html [QSA,L]
</IfModule>
